<h1>This is the test link</h1>
<p id='url' data='<%=url%>'></p>
<script>
var request = new XMLHttpRequest();
var url = document.querySelector('#url').getAttribute('data');
request.open('GET', )
</script>